---
 const personalImageAlt = "Giuliano Politi"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Giuliano Politi, estudiante de 3er año de Ingeniería en Informática,
      me gusta resolver problemas matemáticos y lógicos y
       <strong>  me especializo en el desarrollo de software Backend
       utilizando Java y Spring Boot</strong
      >.
    </p>
    <p>
      Poseo excelentes habilidades blandas, si bien no tengo experiencia laboral en el área, mi experiencia en otras
      áreas como administración o la atención al público, me brindó el saber trabajar en equipo y buenas habilidades comunicativas, soy creyente de que <strong
        >de todas las personas se aprende algo.</strong
      >
    </p>
  </div>
</article>